@charset "UTF-8";

/* Configuração geral do corpo de página */

body{
	margin: 0 auto;
	font-family: "Century Gothic", sans-serif;
}

/***************************************
			  Layout geral
***************************************/

/********** 	Cabeçalho	***********/

header{
	height: 120px; /*altura*/ /* NOVO */ 
	background-color: #008eb6; /* cor de fundo */
	position: -webkit-sticky; /* posição do elemento da página */ /* NOVO */
	position: sticky; /* posição do elemento da página relativa */ /* NOVO */
	top: 0px; /* posição vertical de um elemento */ /* NOVO */
}

header img{
	float: left; /* posiciona a esquerda */
	height: 100px; /* altura */ /* NOVO */
	width: 100px; /* largura */ /* NOVO */
	margin: 10px; /* área da margem */
}

header h1{
	float: left; /* pocisiona flutuante a esquerda */
	margin: 30px 0 15px 30px; /* área da margem */ /* NOVO */
	font-size: 40px; /* tamanho da fonte *//* NOVO */
	color: #ffffff; /* cor */
}

/********** 	MENU	***********/

nav{
	clear: both; /* colocara o elemento flutuante para baixo e limpara a esquerda e a direita */
	width: 70%; /* largura */ /* NOVO */ 
	display: inline-block;/* display - especifica o tipo de caixa de renderização, inline-block - O elemento gera uma caixa de elemento de bloco que fluirá com o conteúdo circundante */ /* NOVO */
	margin: 0px auto; /* área da margem */ 
	/* saiu o height */
}

nav a{
	color: white; /* cor */
	font-weight: bold; /* fonte em negrito */ /* NOVO */
	letter-spacing: 1px; /* espaçamento	entre caracteres */ /* NOVO */
	text-decoration: none; /* Sem decoração */
	text-align: center; /* alinhamento do dexto ao centro */
}

nav .opcao{
	float: left; /* ponto flutuante a esquerda */
	width: 19%; /* largura */ /* NOVO */
	background-color: #005f89; /* cor de fundo */ /* NOVO */
	margin: 0 0.5%; /* área da margem */ /* NOVO */
	font-size: 16px; /* tamanho da fonte */ /* NOVO */ 
}

nav .option:hover{
	background-color: #83afd3; /* cor de fundo */
}

/* Dropdown baseado em W3Schools- https://www.w3schools.com/css/css_dropdowns.asp */ /* NOVO */
/* Usado para posicionar o conteúdo dropdown */
.dropdown {
	position: relative; /*  */
	display: inline-block; /* display - especifica o tipo de caixa de renderização, inline-block - O elemento gera uma caixa de elemento de bloco que fluirá com o conteúdo circundante */ /* NOVO */
}

/* Conteúdo Dropdown (oculto por padrão) */
.dropdown-content {
	display: none; /* sem caixa de renderização */
	position: absolute; /* posiciona de acordo com o elemento pai */
	background-color: #005f89; /* cor de fundo */
	z-index: 1; /* define a ordem z de um elemento posicionado e seus descendentes */
	width: 100%; /* largura */ 
}

/* Links dentro do dropdown */
.dropdown-content a {
	display: block; /* renderiza em bloco */
}

/* Mudar cor dos links dropdown	ao passar mouse */
.dropdown-content a:hover{
	background-color: #83afd3; /* cor de fundo */
}

/* Mostrar o menu dropdown menu ao passar mouse */
.dropdown:hover .dropdown-content {
	display: block;	/* renderiza em bloco */
}

/*****		Seção		*****/
section{
	clear:both; 
	min-height:460px; /* altura minima de um elemento */ /* NOVO */
	width: 100%; /* largura */ 
	margin-top:0px; /* área da margem */ 
}

/*****		Rodapé		*****/
footer{
	background-color:#005f89; /* cor de fundo */
	color: #ffff; /* cor */
	text-align:center; /* alinhamento de texto ao centro */
	padding:10px; /* área de preenchimento de um elemento */
}

/*****************************************************************
						Layout CRUDs
*****************************************************************/

/***** 				Títulos da página						*****/

section h2, section h3{
	text-align: center;
}

/***** 				Formulários						*****/

.frmInserir, .frmFiltrar, .frmInserirMarca, .frmFiltrarMarca{
	margin: 0px auto;
	margin-bottom: 10px;
}

.frmInserir, .frmInserirMarca{
	width: 500px;
}

.frmFiltrar, .frmFiltrarMarca{
	width: 350px;
}

.frmInserir label{
	width: 200px;
}


.frmInserir input, .frmInserir textarea, .frmInserir select, .frmInserirMarca input{
	width: 300px;
	padding: 2px 0;
}

.frmInserir textarea{
	height: 100px;
	resize: none;
}

.frmInserir button, .frmFiltrar button, .frmInserirMarca button, .frmFiltrarMarca button{
	width: 100px;
	margin: 0 1%;
	background-color: #b1ccf5;
	font-weight: bold;
	font-size: 16px;
	float: right;
}

.frmInserir .aviso .frmInserirMarca{
	background-color: #ff0000;
	color: #fff;
	font-weight: bold;
}

/********* Tabela de registro ***********/
.listaRegistros, .listaRegistroMarcas{
	margin-bottom: 10px;
}

.listaRegistros table{
	border: 1px solid #000;
	border-collapse: collapse; /*Define se as bordas das tabelas devem ser recolhidas*/
	margin: 0 auto;
	min-width: 50%;
}

.listaRegistroMarcas table{
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
	min-width: 30%;
}
.listaRegistros table th, .listaRegistroMarcas table th{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	padding: 0 5px;
	border: transparent;
}

.listaRegistros tr, .listaRegistros td, .listaRegistros th{
	border: 1px solid #B0C4DE;
	padding: 0px 5px;
}

.listaRegistroMarcas tr, .listaRegistroMarcas td, .listaRegistroMarcas th{
	border: 1px solid #B0C4DE;
	padding: 0px 5px;
}

.listaRegistros tr, .listaRegistros td, .listaRegistroMarcas tr, .listaRegistroMarcas td{
	font-size: 16px;
}

.listaRegistros tr:nth-child(even), .listaRegistroMarcas tr:nth-child(even){
	background-color: #b1ccf5;
}

.listaRegistros tr:nth-child(odd), .listaRegistroMarcas tr:nth-child(odd){
	background-color: #83afd3;
}

.listaRegistros .acoes, .listaRegistroMarcas .acoesMarca{
	width: 70px;
}

.listaRegistros table img, .listaRegistroMarcas table img{
	padding: 0px;
	width: 20px;
	height: 20px;
	cursor: pointer; /*define o formato do cursor do mouse sobre o elemento*/
}

/*********** Modais ************/
#modalAviso, .modalEditar, .modalExcluir, .excluiMarca, .modalEditarMarca{
	display: none;
}
.txtModalExcluir, .txtModalExcluirMarca{
 	font-size: 10px;
}